<div class="main-wrapper">
  <%= render "shared/header_logo" %>

  <div class="wrapper">
    <%= form_with(url: sessions_path, method: :post, scope: :user, class: "form") do |f| %>
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email,
                        placeholder: "your@email.com",
                        required: true,
                        class: "input" %>


      <%= f.label :password, class: "label" %>
      <%= f.password_field :password,
                           placeholder: "********",
                           required: true,
                           class: "input" %>

      <button type="submit" class="main-button mt-4">
        Log in
      </button>

    <% end %>
    <p class="form-link mb-4">
      Don't have an account?
      <span class="link">
        <%= link_to "Sign up", signup_path %>
      </span>
    </p>
  </div>


</div>