<%= form_with(model: @user, url: update_password_path, method: :patch, data: { turbo_stream: true }, class: "form w-full") do |f| %>

  <%= f.label :current_password, class: "label" %>
  <%= f.password_field :current_password,
                       required: true,
                       placeholder: "Current password",
                       class: "input" %>

  <%= f.label :password, class: "label" %>
  <%= f.password_field :password,
                       required: true,
                       placeholder: "********",
                       class: "input" %>

  <%= f.label :password_confirmation, "Confirmation Password", class: "label" %>
  <%= f.password_field :password_confirmation,
                       required: true,
                       placeholder: "********",
                       class: "input" %>


  <button type="submit" class="submit-button mt-4">
    Update Password
  </button>

<% end %>
