<div data-controller="menu">
  <main
    data-controller="profile"
    class="grid grid-cols-1 md:grid-cols-[288px_1fr_auto] h-screen w-full">


    <%= render 'users/users_sidebar' %>




    <%= turbo_frame_tag "chat_frame" do %>
      <div class="flex justify-between md:hidden border-b-2 border-[#e9e9ed] items-center w-full p-2">
        <button
          data-action="click->menu#open"
          class="w-10 h-10 rounded-lg text-[#732640] text-lg md:hidden cursor-pointer transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-0.5 hover:bg-[#f8b9ce] mr-4">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="flex gap-2 items-center w-full hover:bg-[#e9e9ed] p-2 cursor-pointer rounded-lg">
          <div class="profile-image">
            <% if current_user&.profile_image&.attached? %>
              <%= profile_image(current_user, small: true) %>
            <% end %>
          </div>
          <h2 class="text-[#393946] text-lg font-bold">
            <%= link_to profile_path do %>
              <%= current_user&.name %>
              <%= current_user&.lastname %>
            <% end %>
          </h2>
        </div>
        <%= render "users/logout_button" %>
      </div>
      <p class="text-center text-xl font-bold mt-[20vh] text-gray-400">Select a user to start chatting</p>
    <% end %>


  </main>
</div>
